AxResource/ResourceContent/Data/ARAP.xsd

<?xml version="1.0" encoding="GB18030"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:企业="http://sxbw.audit.gov.cn/AccountingSoftwareDataInterfaceStandard/2010/SOE/XMLSchema"
           xmlns="http://sxbw.audit.gov.cn/AccountingSoftwareDataInterfaceStandard/2010/SOE/XMLSchema"
           targetNamespace="http://sxbw.audit.gov.cn/AccountingSoftwareDataInterfaceStandard/2010/SOE/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="标准数据元素类型.xsd"/>
  <xs:element name="应收应付">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="单据类型" maxOccurs="unbounded"/>
        <xs:element ref="交易类型" maxOccurs="unbounded"/>
        <xs:element ref="应收明细表" maxOccurs="unbounded"/>
        <xs:element ref="应付明细表" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="U03"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="单据类型">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="单据类型编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="单据类型编码类型">
                <xs:attribute ref="locID" use="optional" fixed="030101"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="单据类型名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="单据类型名称类型">
                <xs:attribute ref="locID" use="optional" fixed="030102"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T301"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="交易类型">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="交易类型编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="交易类型编码类型">
                <xs:attribute ref="locID" use="optional" fixed="030201"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="交易类型名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="交易类型名称类型">
                <xs:attribute ref="locID" use="optional" fixed="030202"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T302"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="应收明细表">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="客户编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="客户编码类型">
                <xs:attribute ref="locID" use="optional" fixed="011001"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="科目编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="科目编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020201"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账凭证日期" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证日期类型">
                <xs:attribute ref="locID" use="optional" fixed="020601"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账日期" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账日期类型">
                <xs:attribute ref="locID" use="optional" fixed="030301"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计年度">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计年度类型">
                <xs:attribute ref="locID" use="optional" fixed="010110"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计期间号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计期间号类型">
                <xs:attribute ref="locID" use="optional" fixed="010201"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账凭证类型编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证类型编号类型">
                <xs:attribute ref="locID" use="optional" fixed="010301"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账凭证编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020602"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="本位币">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="本位币类型">
                <xs:attribute ref="locID" use="optional" fixed="010109"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="汇率" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="汇率类型">
                <xs:attribute ref="locID" use="optional" fixed="020605"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="余额方向">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="余额方向类型">
                <xs:attribute ref="locID" use="optional" fixed="020205"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="本币余额" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="本币余额类型">
                <xs:attribute ref="locID" use="optional" fixed="030302"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="原币余额" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="原币余额类型">
                <xs:attribute ref="locID" use="optional" fixed="030303"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="本币发生金额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="本币发生金额类型">
                <xs:attribute ref="locID" use="optional" fixed="030304"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="原币币种">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="原币币种类型">
                <xs:attribute ref="locID" use="optional" fixed="030305"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="原币发生金额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="原币发生金额类型">
                <xs:attribute ref="locID" use="optional" fixed="030306"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="摘要" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="摘要类型">
                <xs:attribute ref="locID" use="optional" fixed="030307"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="到期日" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="到期日类型">
                <xs:attribute ref="locID" use="optional" fixed="030308"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="核销凭证编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="核销凭证编号类型">
                <xs:attribute ref="locID" use="optional" fixed="030309"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="核销日期" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="核销日期类型">
                <xs:attribute ref="locID" use="optional" fixed="030310"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="单据类型编码" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="单据类型编码类型">
                <xs:attribute ref="locID" use="optional" fixed="030101"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="交易类型编码" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="交易类型编码类型">
                <xs:attribute ref="locID" use="optional" fixed="030201"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="单据编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="单据编号类型">
                <xs:attribute ref="locID" use="optional" fixed="030311"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="发票号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="发票号类型">
                <xs:attribute ref="locID" use="optional" fixed="030312"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="合同号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="合同号类型">
                <xs:attribute ref="locID" use="optional" fixed="030313"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="项目编码" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="项目编码类型">
                <xs:attribute ref="locID" use="optional" fixed="030314"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="结算方式编码" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="结算方式编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010601"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="付款日期" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="付款日期类型">
                <xs:attribute ref="locID" use="optional" fixed="030315"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="核销标志">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="核销标志类型">
                <xs:attribute ref="locID" use="optional" fixed="030316"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="汇票编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="汇票编号类型">
                <xs:attribute ref="locID" use="optional" fixed="030317"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T303"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="应付明细表">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="供应商编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="供应商编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010901"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="科目编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="科目编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020201"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账凭证日期" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证日期类型">
                <xs:attribute ref="locID" use="optional" fixed="020601"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账日期" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账日期类型">
                <xs:attribute ref="locID" use="optional" fixed="030301"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计年度">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计年度类型">
                <xs:attribute ref="locID" use="optional" fixed="010110"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计期间号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计期间号类型">
                <xs:attribute ref="locID" use="optional" fixed="010201"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账凭证类型编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证类型编号类型">
                <xs:attribute ref="locID" use="optional" fixed="010301"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账凭证编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020602"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="本位币">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="本位币类型">
                <xs:attribute ref="locID" use="optional" fixed="010109"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="汇率" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="汇率类型">
                <xs:attribute ref="locID" use="optional" fixed="020605"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="余额方向">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="余额方向类型">
                <xs:attribute ref="locID" use="optional" fixed="020205"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="本币余额" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="本币余额类型">
                <xs:attribute ref="locID" use="optional" fixed="030302"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="原币余额" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="原币余额类型">
                <xs:attribute ref="locID" use="optional" fixed="030303"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="本币发生金额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="本币发生金额类型">
                <xs:attribute ref="locID" use="optional" fixed="030304"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="原币币种">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="原币币种类型">
                <xs:attribute ref="locID" use="optional" fixed="030305"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="原币发生金额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="原币发生金额类型">
                <xs:attribute ref="locID" use="optional" fixed="030306"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="摘要" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="摘要类型">
                <xs:attribute ref="locID" use="optional" fixed="030307"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="到期日" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="到期日类型">
                <xs:attribute ref="locID" use="optional" fixed="030308"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="核销凭证编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="核销凭证编号类型">
                <xs:attribute ref="locID" use="optional" fixed="030309"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="核销日期" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="核销日期类型">
                <xs:attribute ref="locID" use="optional" fixed="030310"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="单据类型编码" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="单据类型编码类型">
                <xs:attribute ref="locID" use="optional" fixed="030101"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="交易类型编码" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="交易类型编码类型">
                <xs:attribute ref="locID" use="optional" fixed="030201"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="单据编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="单据编号类型">
                <xs:attribute ref="locID" use="optional" fixed="030311"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="发票号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="发票号类型">
                <xs:attribute ref="locID" use="optional" fixed="030312"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="合同号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="合同号类型">
                <xs:attribute ref="locID" use="optional" fixed="030313"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="项目编码" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="项目编码类型">
                <xs:attribute ref="locID" use="optional" fixed="030314"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="结算方式编码" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="结算方式编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010601"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="付款日期" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="付款日期类型">
                <xs:attribute ref="locID" use="optional" fixed="030315"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="核销标志">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="核销标志类型">
                <xs:attribute ref="locID" use="optional" fixed="030316"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="汇票编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="汇票编号类型">
                <xs:attribute ref="locID" use="optional" fixed="030317"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T304"/>
    </xs:complexType>
  </xs:element>
</xs:schema>