AxResource/ResourceContent/Data/Common.xsd

<?xml version="1.0" encoding="GB18030"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:企业="http://sxbw.audit.gov.cn/AccountingSoftwareDataInterfaceStandard/2010/SOE/XMLSchema"
           xmlns="http://sxbw.audit.gov.cn/AccountingSoftwareDataInterfaceStandard/2010/SOE/XMLSchema"
           targetNamespace="http://sxbw.audit.gov.cn/AccountingSoftwareDataInterfaceStandard/2010/SOE/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="标准数据元素类型.xsd"/>
  <xs:element name="公共档案">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="电子账簿"/>
        <xs:element ref="会计期间" maxOccurs="unbounded"/>
        <xs:element ref="记账凭证类型" maxOccurs="unbounded"/>
        <xs:element ref="汇率类型" maxOccurs="unbounded"/>
        <xs:element ref="币种" maxOccurs="unbounded"/>
        <xs:element ref="结算方式" maxOccurs="unbounded"/>
        <xs:element ref="部门档案" maxOccurs="unbounded"/>
        <xs:element ref="员工档案" maxOccurs="unbounded"/>
        <xs:element ref="供应商档案" maxOccurs="unbounded"/>
        <xs:element ref="客户档案" maxOccurs="unbounded"/>
        <xs:element ref="自定义档案项" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="自定义档案值" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="U01"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="电子账簿">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="电子账簿编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="电子账簿编号类型">
                <xs:attribute ref="locID" use="optional" fixed="010101"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="电子账簿名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="电子账簿名称类型">
                <xs:attribute ref="locID" use="optional" fixed="010102"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计核算单位">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计核算单位类型">
                <xs:attribute ref="locID" use="optional" fixed="010103"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="组织机构代码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="组织机构代码类型">
                <xs:attribute ref="locID" use="optional" fixed="010104"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="单位性质">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="单位性质类型">
                <xs:attribute ref="locID" use="optional" fixed="010105"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="行业">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="行业类型">
                <xs:attribute ref="locID" use="optional" fixed="010106"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="开发单位">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="开发单位类型">
                <xs:attribute ref="locID" use="optional" fixed="010107"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="版本号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="版本号类型">
                <xs:attribute ref="locID" use="optional" fixed="010108"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="本位币">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="本位币类型">
                <xs:attribute ref="locID" use="optional" fixed="010109"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计年度">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计年度类型">
                <xs:attribute ref="locID" use="optional" fixed="010110"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="标准版本号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="标准版本号类型">
                <xs:attribute ref="locID" use="optional" fixed="010111"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T101"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="会计期间">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="会计年度">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计年度类型">
                <xs:attribute ref="locID" use="optional" fixed="010110"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计期间号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计期间号类型">
                <xs:attribute ref="locID" use="optional" fixed="010201"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计期间起始日期">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计期间起始日期类型">
                <xs:attribute ref="locID" use="optional" fixed="010202"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计期间结束日期">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计期间结束日期类型">
                <xs:attribute ref="locID" use="optional" fixed="010203"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T102"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="记账凭证类型">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="记账凭证类型编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证类型编号类型">
                <xs:attribute ref="locID" use="optional" fixed="010301"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账凭证类型名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证类型名称类型">
                <xs:attribute ref="locID" use="optional" fixed="010302"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账凭证类型简称" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证类型简称类型">
                <xs:attribute ref="locID" use="optional" fixed="010303"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T103"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="汇率类型">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="汇率类型编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="汇率类型编号类型">
                <xs:attribute ref="locID" use="optional" fixed="010401"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="汇率类型名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="汇率类型名称类型">
                <xs:attribute ref="locID" use="optional" fixed="010402"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T104"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="币种">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="币种编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="币种编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010501"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="币种名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="币种名称类型">
                <xs:attribute ref="locID" use="optional" fixed="010502"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T105"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="结算方式">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="结算方式编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="结算方式编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010601"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="结算方式名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="结算方式名称类型">
                <xs:attribute ref="locID" use="optional" fixed="010602"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T106"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="部门档案">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="部门编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="部门编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010701"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="部门名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="部门名称类型">
                <xs:attribute ref="locID" use="optional" fixed="010702"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="上级部门编码" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="上级部门编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010703"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T107"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="员工档案">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="员工编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="员工编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010801"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="员工姓名">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="员工姓名类型">
                <xs:attribute ref="locID" use="optional" fixed="010802"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="证件类别">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="证件类别类型">
                <xs:attribute ref="locID" use="optional" fixed="010803"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="证件号码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="证件号码类型">
                <xs:attribute ref="locID" use="optional" fixed="010804"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="性别">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="性别类型">
                <xs:attribute ref="locID" use="optional" fixed="010805"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="出生日期">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="出生日期类型">
                <xs:attribute ref="locID" use="optional" fixed="010806"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="部门编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="部门编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010701"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="入职日期">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="入职日期类型">
                <xs:attribute ref="locID" use="optional" fixed="010807"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="离职日期" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="离职日期类型">
                <xs:attribute ref="locID" use="optional" fixed="010808"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T108"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="供应商档案">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="供应商编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="供应商编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010901"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="供应商名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="供应商名称类型">
                <xs:attribute ref="locID" use="optional" fixed="010902"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="供应商简称"  minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="供应商简称类型">
                <xs:attribute ref="locID" use="optional" fixed="010903"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T109"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="客户档案">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="客户编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="客户编码类型">
                <xs:attribute ref="locID" use="optional" fixed="011001"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="客户名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="客户名称类型">
                <xs:attribute ref="locID" use="optional" fixed="011002"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="客户简称" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="客户简称类型">
                <xs:attribute ref="locID" use="optional" fixed="011003"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T110"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="自定义档案项">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="档案编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="档案编码类型">
                <xs:attribute ref="locID" use="optional" fixed="011101"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="档案名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="档案名称类型">
                <xs:attribute ref="locID" use="optional" fixed="011102"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="档案描述" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="档案描述类型">
                <xs:attribute ref="locID" use="optional" fixed="011103"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="是否有层级特征">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="是否有层级特征类型">
                <xs:attribute ref="locID" use="optional" fixed="011104"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="档案编码规则" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="档案编码规则类型">
                <xs:attribute ref="locID" use="optional" fixed="011105"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T111"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="自定义档案值">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="档案编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="档案编码类型">
                <xs:attribute ref="locID" use="optional" fixed="011101"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="档案值编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="档案值编码类型">
                <xs:attribute ref="locID" use="optional" fixed="011201"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="档案值名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="档案值名称类型">
                <xs:attribute ref="locID" use="optional" fixed="011202"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="档案值描述" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="档案值描述类型">
                <xs:attribute ref="locID" use="optional" fixed="011203"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="档案值父节点" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="档案值父节点类型">
                <xs:attribute ref="locID" use="optional" fixed="011204"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="档案值级次">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="档案值级次类型">
                <xs:attribute ref="locID" use="optional" fixed="011205"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T112"/>
    </xs:complexType>
  </xs:element>
</xs:schema>