AxResource/ResourceContent/Data/FA.xsd

<?xml version="1.0" encoding="GB18030"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:企业="http://sxbw.audit.gov.cn/AccountingSoftwareDataInterfaceStandard/2010/SOE/XMLSchema" xmlns="http://sxbw.audit.gov.cn/AccountingSoftwareDataInterfaceStandard/2010/SOE/XMLSchema" targetNamespace="http://sxbw.audit.gov.cn/AccountingSoftwareDataInterfaceStandard/2010/SOE/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="标准数据元素类型.xsd" />
  <xs:element name="固定资产">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="固定资产基础信息" />
        <xs:element ref="固定资产类别设置" maxOccurs="unbounded" />
        <xs:element ref="固定资产变动方式" maxOccurs="unbounded" />
        <xs:element ref="固定资产折旧方法" maxOccurs="unbounded" />
        <xs:element ref="固定资产使用状况" maxOccurs="unbounded" />
        <xs:element ref="固定资产卡片" maxOccurs="unbounded" />
        <xs:element ref="固定资产卡片实物信息" maxOccurs="unbounded" />
        <xs:element ref="固定资产卡片使用信息" maxOccurs="unbounded" />
        <xs:element ref="固定资产减少情况" maxOccurs="unbounded" />
        <xs:element ref="固定资产减少实物信息" maxOccurs="unbounded" />
        <xs:element ref="固定资产变动情况" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="U03" />
    </xs:complexType>
  </xs:element>
  <xs:element name="固定资产基础信息">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="固定资产对账科目" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产对账科目类型">
                <xs:attribute ref="locID" use="optional" fixed="040101" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="减值准备对账科目" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="减值准备对账科目类型">
                <xs:attribute ref="locID" use="optional" fixed="040102" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="累计折旧对账科目" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="累计折旧对账科目类型">
                <xs:attribute ref="locID" use="optional" fixed="040103" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T401" />
    </xs:complexType>
  </xs:element>
  <xs:element name="固定资产类别设置">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="固定资产类别编码规则">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产类别编码规则类型">
                <xs:attribute ref="locID" use="optional" fixed="040201" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产类别编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产类别编码类型">
                <xs:attribute ref="locID" use="optional" fixed="040202" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产类别名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产类别名称类型">
                <xs:attribute ref="locID" use="optional" fixed="040203" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T402" />
    </xs:complexType>
  </xs:element>
  <xs:element name="固定资产变动方式">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="变动方式编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="变动方式编码类型">
                <xs:attribute ref="locID" use="optional" fixed="040301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="变动方式名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="变动方式名称类型">
                <xs:attribute ref="locID" use="optional" fixed="040302" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T403" />
    </xs:complexType>
  </xs:element>
  <xs:element name="固定资产折旧方法">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="折旧方法编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="折旧方法编码类型">
                <xs:attribute ref="locID" use="optional" fixed="040401" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="折旧方法名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="折旧方法名称类型">
                <xs:attribute ref="locID" use="optional" fixed="040402" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="折旧公式">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="折旧公式类型">
                <xs:attribute ref="locID" use="optional" fixed="040403" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T404" />
    </xs:complexType>
  </xs:element>
  <xs:element name="固定资产使用状况">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="使用状况编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="使用状况编码类型">
                <xs:attribute ref="locID" use="optional" fixed="040501" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="使用状况名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="使用状况名称类型">
                <xs:attribute ref="locID" use="optional" fixed="040502" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T405" />
    </xs:complexType>
  </xs:element>
  <xs:element name="固定资产卡片">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="固定资产卡片编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产卡片编号类型">
                <xs:attribute ref="locID" use="optional" fixed="040601" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产类别编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产类别编码类型">
                <xs:attribute ref="locID" use="optional" fixed="040202" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产编码类型">
                <xs:attribute ref="locID" use="optional" fixed="040602" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产名称类型">
                <xs:attribute ref="locID" use="optional" fixed="040603" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产入账日期">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产入账日期类型">
                <xs:attribute ref="locID" use="optional" fixed="040604" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计期间号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计期间号类型">
                <xs:attribute ref="locID" use="optional" fixed="010201" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产计量单位">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产计量单位类型">
                <xs:attribute ref="locID" use="optional" fixed="040605" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产数量">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产数量类型">
                <xs:attribute ref="locID" use="optional" fixed="040606" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="变动方式编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="变动方式编码类型">
                <xs:attribute ref="locID" use="optional" fixed="040301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="折旧方法编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="折旧方法编码类型">
                <xs:attribute ref="locID" use="optional" fixed="040401" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="使用状况编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="使用状况编码类型">
                <xs:attribute ref="locID" use="optional" fixed="040501" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="预计使用月份">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="预计使用月份类型">
                <xs:attribute ref="locID" use="optional" fixed="040607" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="已计提月份">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="已计提月份类型">
                <xs:attribute ref="locID" use="optional" fixed="040608" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="本位币">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="本位币类型">
                <xs:attribute ref="locID" use="optional" fixed="010109" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产原值">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产原值类型">
                <xs:attribute ref="locID" use="optional" fixed="040609" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产累计折旧">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产累计折旧类型">
                <xs:attribute ref="locID" use="optional" fixed="040610" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产净值">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产净值类型">
                <xs:attribute ref="locID" use="optional" fixed="040611" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产累计减值准备">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产累计减值准备类型">
                <xs:attribute ref="locID" use="optional" fixed="040612" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产净残值率">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产净残值率类型">
                <xs:attribute ref="locID" use="optional" fixed="040613" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产净残值">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产净残值类型">
                <xs:attribute ref="locID" use="optional" fixed="040614" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产月折旧率">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产月折旧率类型">
                <xs:attribute ref="locID" use="optional" fixed="040615" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产月折旧额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产月折旧额类型">
                <xs:attribute ref="locID" use="optional" fixed="040616" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产工作量单位" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产工作量单位类型">
                <xs:attribute ref="locID" use="optional" fixed="040617" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产工作总量" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产工作总量类型">
                <xs:attribute ref="locID" use="optional" fixed="040618" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="累计工作总量" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="累计工作总量类型">
                <xs:attribute ref="locID" use="optional" fixed="040619" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产对账科目" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产对账科目类型">
                <xs:attribute ref="locID" use="optional" fixed="040101" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="减值准备对账科目" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="减值准备对账科目类型">
                <xs:attribute ref="locID" use="optional" fixed="040102" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="累计折旧对账科目" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="累计折旧对账科目类型">
                <xs:attribute ref="locID" use="optional" fixed="040103" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T406" />
    </xs:complexType>
  </xs:element>
  <xs:element name="固定资产卡片实物信息">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="固定资产卡片编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产卡片编号类型">
                <xs:attribute ref="locID" use="optional" fixed="040601" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计期间号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计期间号类型">
                <xs:attribute ref="locID" use="optional" fixed="010201" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产标签号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产标签号类型">
                <xs:attribute ref="locID" use="optional" fixed="040701" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产位置" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产位置类型">
                <xs:attribute ref="locID" use="optional" fixed="040702" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产规格型号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产规格型号类型">
                <xs:attribute ref="locID" use="optional" fixed="040703" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T407" />
    </xs:complexType>
  </xs:element>
  <xs:element name="固定资产卡片使用信息">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="固定资产卡片编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产卡片编号类型">
                <xs:attribute ref="locID" use="optional" fixed="040601" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产标签号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产标签号类型">
                <xs:attribute ref="locID" use="optional" fixed="040701" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计期间号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计期间号类型">
                <xs:attribute ref="locID" use="optional" fixed="010201" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="部门编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="部门编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010701" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="折旧分配比例">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="折旧分配比例类型">
                <xs:attribute ref="locID" use="optional" fixed="040801" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T408" />
    </xs:complexType>
  </xs:element>
  <xs:element name="固定资产减少情况">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="固定资产减少流水号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产减少流水号类型">
                <xs:attribute ref="locID" use="optional" fixed="040901" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="减少发生日期">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="减少发生日期类型">
                <xs:attribute ref="locID" use="optional" fixed="040902" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计期间号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计期间号类型">
                <xs:attribute ref="locID" use="optional" fixed="010201" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="变动方式编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="变动方式编码类型">
                <xs:attribute ref="locID" use="optional" fixed="040301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产卡片编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产卡片编号类型">
                <xs:attribute ref="locID" use="optional" fixed="040601" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产名称类型">
                <xs:attribute ref="locID" use="optional" fixed="040603" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产编码类型">
                <xs:attribute ref="locID" use="optional" fixed="040602" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产减少数量">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产减少数量类型">
                <xs:attribute ref="locID" use="optional" fixed="040903" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产减少原值">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产减少原值类型">
                <xs:attribute ref="locID" use="optional" fixed="040904" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产减少累计折旧">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产减少累计折旧类型">
                <xs:attribute ref="locID" use="optional" fixed="040905" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产减少减值准备">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产减少减值准备类型">
                <xs:attribute ref="locID" use="optional" fixed="040906" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产减少残值">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产减少残值类型">
                <xs:attribute ref="locID" use="optional" fixed="040907" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="清理收入" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="清理收入类型">
                <xs:attribute ref="locID" use="optional" fixed="040908" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="清理费用" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="清理费用类型">
                <xs:attribute ref="locID" use="optional" fixed="040909" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产减少原因">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产减少原因类型">
                <xs:attribute ref="locID" use="optional" fixed="040910" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T409" />
    </xs:complexType>
  </xs:element>
  <xs:element name="固定资产减少实物信息">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="固定资产减少流水号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产减少流水号类型">
                <xs:attribute ref="locID" use="optional" fixed="040901" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产卡片编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产卡片编号类型">
                <xs:attribute ref="locID" use="optional" fixed="040601" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产标签号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产标签号类型">
                <xs:attribute ref="locID" use="optional" fixed="040701" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计期间号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="企业:会计期间号类型">
                <xs:attribute ref="企业:locID" use="optional" fixed="010201" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T410" />
    </xs:complexType>
  </xs:element>
  <xs:element name="固定资产变动情况">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="固定资产变动流水号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产变动流水号类型">
                <xs:attribute ref="locID" use="optional" fixed="041101" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产变动日期">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产变动日期类型">
                <xs:attribute ref="locID" use="optional" fixed="041102" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计期间号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计期间号类型">
                <xs:attribute ref="locID" use="optional" fixed="010201" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产卡片编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产卡片编号类型">
                <xs:attribute ref="locID" use="optional" fixed="040601" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产编码类型">
                <xs:attribute ref="locID" use="optional" fixed="040602" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产名称类型">
                <xs:attribute ref="locID" use="optional" fixed="040603" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="变动方式编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="变动方式编码类型">
                <xs:attribute ref="locID" use="optional" fixed="040301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产标签号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产标签号类型">
                <xs:attribute ref="locID" use="optional" fixed="040701" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="变动前内容及数值">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="变动前内容及数值类型">
                <xs:attribute ref="locID" use="optional" fixed="041103" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="变动后内容及数值">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="变动后内容及数值类型">
                <xs:attribute ref="locID" use="optional" fixed="041104" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="固定资产变动原因">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="固定资产变动原因类型">
                <xs:attribute ref="locID" use="optional" fixed="041105" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T411" />
    </xs:complexType>
  </xs:element>
</xs:schema>