AxResource/ResourceContent/Data/GL.xsd

<?xml version="1.0" encoding="GB18030"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:企业="http://sxbw.audit.gov.cn/AccountingSoftwareDataInterfaceStandard/2010/SOE/XMLSchema" xmlns="http://sxbw.audit.gov.cn/AccountingSoftwareDataInterfaceStandard/2010/SOE/XMLSchema" targetNamespace="http://sxbw.audit.gov.cn/AccountingSoftwareDataInterfaceStandard/2010/SOE/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="标准数据元素类型.xsd" />
  <xs:element name="总账">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="总账基础信息" />
        <xs:element ref="会计科目" maxOccurs="unbounded" />
        <xs:element ref="科目辅助核算" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="现金流量项目" maxOccurs="unbounded" />
        <xs:element ref="科目余额及发生额" maxOccurs="unbounded" />
        <xs:element ref="记账凭证" maxOccurs="unbounded" />
        <xs:element ref="现金流量凭证项目数据" maxOccurs="unbounded" />
        <xs:element ref="报表集" maxOccurs="unbounded" />
        <xs:element ref="报表项数据" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="U02" />
    </xs:complexType>
  </xs:element>
  <xs:element name="总账基础信息">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="结构分隔符">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="结构分隔符类型">
                <xs:attribute ref="locID" use="optional" fixed="020101" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计科目编号规则">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计科目编号规则类型">
                <xs:attribute ref="locID" use="optional" fixed="020102" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="现金流量项目编码规则">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量项目编码类型">
                <xs:attribute ref="locID" use="optional" fixed="020103" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="凭证头可扩展字段结构" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="凭证头可扩展字段结构类型">
                <xs:attribute ref="locID" use="optional" fixed="020104" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="凭证头可扩展结构对应档案" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="凭证头可扩展结构对应档案类型">
                <xs:attribute ref="locID" use="optional" fixed="020105" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="分录行可扩展字段结构" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="分录行可扩展字段结构类型">
                <xs:attribute ref="locID" use="optional" fixed="020106" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="分录行可扩展字段对应档案" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="分录行可扩展字段对应档案类型">
                <xs:attribute ref="locID" use="optional" fixed="020107" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T201" />
    </xs:complexType>
  </xs:element>
  <xs:element name="会计科目">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="科目编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="科目编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020201" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="科目名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="科目名称类型">
                <xs:attribute ref="locID" use="optional" fixed="020202" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="科目级次">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="科目级次类型">
                <xs:attribute ref="locID" use="optional" fixed="020203" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="科目类型">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="科目类型类型">
                <xs:attribute ref="locID" use="optional" fixed="020204" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="余额方向">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="余额方向类型">
                <xs:attribute ref="locID" use="optional" fixed="020205" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T202" />
    </xs:complexType>
  </xs:element>
  <xs:element name="科目辅助核算">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="科目编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="科目编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020201" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项名称类型">
                <xs:attribute ref="locID" use="optional" fixed="020302" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="对应档案">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="对应档案类型">
                <xs:attribute ref="locID" use="optional" fixed="020303" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项描述" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项描述类型">
                <xs:attribute ref="locID" use="optional" fixed="020304" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T203" />
    </xs:complexType>
  </xs:element>
  <xs:element name="现金流量项目">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="现金流量项目编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量项目编码类型">
                <xs:attribute ref="locID" use="optional" fixed="020401" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="现金流量项目名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量项目名称类型">
                <xs:attribute ref="locID" use="optional" fixed="020402" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="现金流量项目描述" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量项目描述类型">
                <xs:attribute ref="locID" use="optional" fixed="020403" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="是否末级">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="是否末级类型">
                <xs:attribute ref="locID" use="optional" fixed="020404" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="现金流量项目级次">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量项目级次类型">
                <xs:attribute ref="locID" use="optional" fixed="020405" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="现金流量项目父节点" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量项目父节点类型">
                <xs:attribute ref="locID" use="optional" fixed="020406" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="现金流量数据来源">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量数据来源类型">
                <xs:attribute ref="locID" use="optional" fixed="020407" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="现金流量项目属性">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量项目属性类型">
                <xs:attribute ref="locID" use="optional" fixed="020408" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T204" />
    </xs:complexType>
  </xs:element>
  <xs:element name="科目余额及发生额">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="科目编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="科目编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020201" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项1编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项2编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项3编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项4编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项5编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项6编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项7编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项8编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项9编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项10编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项11编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项12编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项13编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项14编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项15编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项16编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项17编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项18编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项19编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项20编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项21编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项22编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项23编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项24编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项25编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项26编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项27编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项28编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项29编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项30编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="期初余额方向">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="期初余额方向类型">
                <xs:attribute ref="locID" use="optional" fixed="020501" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="期末余额方向">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="期末余额方向类型">
                <xs:attribute ref="locID" use="optional" fixed="020502" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="币种编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="币种编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010501" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="计量单位" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="计量单位类型">
                <xs:attribute ref="locID" use="optional" fixed="020503" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计年度">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计年度类型">
                <xs:attribute ref="locID" use="optional" fixed="010110" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计期间号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计期间号类型">
                <xs:attribute ref="locID" use="optional" fixed="010201" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="期初数量" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="期初数量类型">
                <xs:attribute ref="locID" use="optional" fixed="020504" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="期初原币余额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="期初原币余额类型">
                <xs:attribute ref="locID" use="optional" fixed="020505" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="期初本币余额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="期初本币余额类型">
                <xs:attribute ref="locID" use="optional" fixed="020506" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="借方数量" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="借方数量类型">
                <xs:attribute ref="locID" use="optional" fixed="020507" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="借方原币金额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="借方原币金额类型">
                <xs:attribute ref="locID" use="optional" fixed="020508" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="借方本币金额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="借方本币金额类型">
                <xs:attribute ref="locID" use="optional" fixed="020509" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="贷方数量" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="贷方数量类型">
                <xs:attribute ref="locID" use="optional" fixed="020510" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="贷方原币金额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="贷方原币金额类型">
                <xs:attribute ref="locID" use="optional" fixed="020511" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="贷方本币金额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="贷方本币金额类型">
                <xs:attribute ref="locID" use="optional" fixed="020512" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="期末数量" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="期末数量类型">
                <xs:attribute ref="locID" use="optional" fixed="020513" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="期末原币余额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="期末原币余额类型">
                <xs:attribute ref="locID" use="optional" fixed="020514" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="期末本币余额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="期末本币余额类型">
                <xs:attribute ref="locID" use="optional" fixed="020515" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T205" />
    </xs:complexType>
  </xs:element>
  <xs:element name="记账凭证">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="记账凭证日期">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证日期类型">
                <xs:attribute ref="locID" use="optional" fixed="020601" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计年度">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计年度类型">
                <xs:attribute ref="locID" use="optional" fixed="010110" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="会计期间号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="会计期间号类型">
                <xs:attribute ref="locID" use="optional" fixed="010201" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账凭证类型编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证类型编号类型">
                <xs:attribute ref="locID" use="optional" fixed="010301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账凭证编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020602" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账凭证行号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证行号类型">
                <xs:attribute ref="locID" use="optional" fixed="020603" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账凭证摘要" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证摘要类型">
                <xs:attribute ref="locID" use="optional" fixed="020604" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="科目编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="科目编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020201" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项1编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项2编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项3编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项4编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项5编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项6编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项7编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项8编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项9编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项10编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项11编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项12编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项13编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项14编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项15编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项16编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项17编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项18编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项19编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项20编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项21编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项22编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项23编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项24编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项25编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项26编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项27编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项28编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项29编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="辅助项30编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="辅助项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="币种编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="币种编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010501" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="计量单位" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="计量单位类型">
                <xs:attribute ref="locID" use="optional" fixed="020503" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="借方数量" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="借方数量类型">
                <xs:attribute ref="locID" use="optional" fixed="020507" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="借方原币金额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="借方原币金额类型">
                <xs:attribute ref="locID" use="optional" fixed="020508" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="借方本币金额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="借方本币金额类型">
                <xs:attribute ref="locID" use="optional" fixed="020509" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="贷方数量" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="贷方数量类型">
                <xs:attribute ref="locID" use="optional" fixed="020510" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="贷方原币金额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="贷方原币金额类型">
                <xs:attribute ref="locID" use="optional" fixed="020511" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="贷方本币金额" nillable="1">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="贷方本币金额类型">
                <xs:attribute ref="locID" use="optional" fixed="020512" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="汇率类型编号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="汇率类型编号类型">
                <xs:attribute ref="locID" use="optional" fixed="010401" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="汇率" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="汇率类型">
                <xs:attribute ref="locID" use="optional" fixed="020605" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="单价" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="单价类型">
                <xs:attribute ref="locID" use="optional" fixed="020606" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="凭证头可扩展字段结构值" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="凭证头可扩展字段结构值类型">
                <xs:attribute ref="locID" use="optional" fixed="020607" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="分录行可扩展字段结构值" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="分录行可扩展字段结构值类型">
                <xs:attribute ref="locID" use="optional" fixed="020608" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="结算方式编码" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="结算方式编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010601" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="票据类型" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="票据类型类型">
                <xs:attribute ref="locID" use="optional" fixed="020609" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="票据号" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="票据号类型">
                <xs:attribute ref="locID" use="optional" fixed="020610" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="票据日期" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="票据日期类型">
                <xs:attribute ref="locID" fixed="020611" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="附件数">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="附件数类型">
                <xs:attribute ref="locID" use="optional" fixed="020612" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="制单人">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="制单人类型">
                <xs:attribute ref="locID" use="optional" fixed="020613" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="审核人" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="审核人类型">
                <xs:attribute ref="locID" use="optional" fixed="020614" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账人" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账人类型">
                <xs:attribute ref="locID" use="optional" fixed="020615" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账标志">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账标志类型">
                <xs:attribute ref="locID" use="optional" fixed="020616" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="作废标志">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="作废标志类型">
                <xs:attribute ref="locID" use="optional" fixed="020617" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="凭证来源系统">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="凭证来源系统类型">
                <xs:attribute ref="locID" use="optional" fixed="020618" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T206" />
    </xs:complexType>
  </xs:element>
  <xs:element name="现金流量凭证项目数据">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="记账凭证类型编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证类型编号类型">
                <xs:attribute ref="locID" use="optional" fixed="010301" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="记账凭证编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="记账凭证编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020602" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="币种编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="币种编码类型">
                <xs:attribute ref="locID" use="optional" fixed="010501" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="现金流量行号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量行号类型">
                <xs:attribute ref="locID" use="optional" fixed="020701" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="现金流量摘要" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量摘要类型">
                <xs:attribute ref="locID" use="optional" fixed="020702" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="现金流量项目编码">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量项目编码类型">
                <xs:attribute ref="locID" use="optional" fixed="020401" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="现金流量项目属性">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量项目属性类型">
                <xs:attribute ref="locID" use="optional" fixed="020408" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="现金流量原币金额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量原币金额类型">
                <xs:attribute ref="locID" use="optional" fixed="020703" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="现金流量本币金额">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="现金流量本币金额类型">
                <xs:attribute ref="locID" use="optional" fixed="020704" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T207" />
    </xs:complexType>
  </xs:element>
  <xs:element name="报表集">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="报表编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="报表编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020801" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="报表名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="报表名称类型">
                <xs:attribute ref="locID" use="optional" fixed="020802" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="报表报告日">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="报表报告日类型">
                <xs:attribute ref="locID" use="optional" fixed="020803" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="报表报告期">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="报表报告期类型">
                <xs:attribute ref="locID" use="optional" fixed="020804" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="编制单位">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="编制单位类型">
                <xs:attribute ref="locID" use="optional" fixed="020805" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="货币单位">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="货币单位类型">
                <xs:attribute ref="locID" use="optional" fixed="020806" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T208" />
    </xs:complexType>
  </xs:element>
  <xs:element name="报表项数据">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="报表编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="报表编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020801" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="报表项编号">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="报表项编号类型">
                <xs:attribute ref="locID" use="optional" fixed="020901" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="报表项名称">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="报表项名称类型">
                <xs:attribute ref="locID" use="optional" fixed="020902" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="报表项公式">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="报表项公式类型">
                <xs:attribute ref="locID" use="optional" fixed="020903" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="报表项数值">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="报表项数值类型">
                <xs:attribute ref="locID" use="optional" fixed="020904" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="locID" use="optional" fixed="T209" />
    </xs:complexType>
  </xs:element>
</xs:schema>